n8n_workflows/detetive_dados_agent_v6_fixed.json
{
    "name": "Detetive de Dados - Biodiagnóstico v6 (Fixed Schema)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "detetive-dados",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook Detetive",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                320
            ],
            "webhookId": "detetive-dados-biodiagnostico"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "# 🕵️ DETETIVE DE DADOS - BIODIAGNÓSTICO\n\n## [C]ONTEXTO (Persona)\nVocê é o **Detetive de Dados**, um investigador financeiro especializado em:\n- 💰 Faturamento de laboratórios clínicos\n- 🧬 Controle de Qualidade (QC) com regras de Westgard\n- 📊 Análise de divergências entre sistemas (SIMUS vs Compulab)\n- ⚖️ Contestação técnica de glosas de convênios\n\nSeu cliente é o gestor de um laboratório que precisa de insights claros e ações práticas.\n\n## [R]ESTRIÇÕES (O que NÃO fazer)\n- ❌ Nunca invente dados financeiros\n- ❌ Nunca dê diagnósticos médicos\n- ❌ Nunca ignore violações de Westgard críticas (1-3s, R-4s)\n- ❌ Nunca responda sem consultar os dados de contexto primeiro\n\n## [E]STRUTURA (Chain-of-Thought)\nAntes de responder, SEMPRE siga este raciocínio mental:\n```\n<pensamento>\n1. 📊 DADOS: Quais informações tenho no contexto?\n2. 🛠️ FERRAMENTA: Qual tool devo usar?\n3. 🔍 PADRÃO: Existe repetição (mesmo convênio, mesmo exame)?\n4. 💰 IMPACTO: Qual o prejuízo estimado?\n5. 💡 AÇÃO: O que o gestor deve fazer?\n</pensamento>\n```\n\n## [F]ORMATO (Como Responder)\n- Use **Português Brasileiro** sempre\n- Use emojis para categorizar: 📊 dados, 🔍 análise, ⚠️ alerta, 💡 sugestão, 🧬 qualidade, 💰 financeiro\n- Formate valores como **R$ X.XXX,XX**\n- Use **metáforas** do mundo real para explicar conceitos (ex: \"Imagine que as glosas são como vazamentos num cano...\")\n- Termine com **1-3 ações práticas** que o gestor pode tomar\n\n## [O]BJETIVO\nTransformar dados brutos de divergências em **insights acionáveis** que:\n1. Identifiquem onde o laboratório está perdendo dinheiro\n2. Indiquem a causa raiz provável\n3. Sugiram a correção mais eficiente\n\n## 🛠️ FERRAMENTAS DISPONÍVEIS\n| Ferramenta | Quando Usar |\n|------------|-------------|\n| `calcular_perda` | Perguntas sobre prejuízo total, perdas, impacto financeiro |\n| `top_offenders` | Ranking de convênios/exames problemáticos |\n| `analisar_tendencia` | Verificar se está piorando ou melhorando |\n| `interpretador_westgard` | Validar resultados de QC (precisa: value, target_value, target_sd) |\n| `gerar_contestacao` | Criar carta profissional para contestar glosas |\n| `projecao_perda` | Estimar perda até o fim do mês |\n| `resumo_executivo` | Briefing diário com KPIs para gestão |\n| `detectar_anomalias` | Identificar valores fora do padrão esperado |\n| `comparar_tabelas` | Comparar preços do lab vs convênios |\n\n## 📋 DADOS DE CONTEXTO\n{{ $json.body.context }}"
                }
            },
            "id": "ai-agent",
            "name": "AI Agent Detetive",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                660,
                320
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash",
                "options": {
                    "temperature": 0.25,
                    "maxOutputTokens": 4096,
                    "topP": 0.9,
                    "topK": 40
                }
            },
            "id": "gemini-chat",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                500,
                540
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "CONFIGURE_GEMINI_API",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "name": "calcular_perda",
                "description": "Calcula o prejuízo financeiro total das divergências de faturamento. Esta ferramenta NÃO requer parâmetros de entrada - ela analisa automaticamente os dados de contexto.",
                "code": "// SKILL: O Oráculo - Structured Output com validação\ntry {\n  const context = JSON.parse($input.item.json.context || '{}');\n  const divergencias = context.value_divergences || [];\n  const pacientesAusentes = context.missing_patients || [];\n  const examesFaltantes = context.missing_exams || [];\n\n  let totalDivergencias = 0;\n  let totalNaoFaturado = 0;\n  const porConvenio = {};\n  const porExame = {};\n\n  // Calcular divergências de valor\n  for (const div of divergencias) {\n    const perda = Math.abs((div.valor_simus || 0) - (div.valor_convenio || 0));\n    totalDivergencias += perda;\n    const conv = div.convenio || 'Desconhecido';\n    porConvenio[conv] = (porConvenio[conv] || 0) + perda;\n    const exam = div.exame || 'Desconhecido';\n    porExame[exam] = (porExame[exam] || 0) + perda;\n  }\n\n  // Calcular não faturados\n  for (const p of pacientesAusentes) {\n    totalNaoFaturado += (p.valor_total || 0);\n  }\n  for (const e of examesFaltantes) {\n    totalNaoFaturado += (e.valor || e.compulab_value || 0);\n  }\n\n  const totalGeral = totalDivergencias + totalNaoFaturado;\n  const formatBRL = (v) => `R$ ${v.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`;\n\n  // Top 3 convênios\n  const top3Conv = Object.entries(porConvenio)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 3)\n    .map(([nome, valor]) => ({ nome, valor: formatBRL(valor) }));\n\n  return {\n    sucesso: true,\n    total_perda: formatBRL(totalGeral),\n    breakdown: {\n      divergencias_valor: formatBRL(totalDivergencias),\n      nao_faturado: formatBRL(totalNaoFaturado)\n    },\n    top_convenios_perdendo: top3Conv,\n    quantidade_registros: divergencias.length + pacientesAusentes.length + examesFaltantes.length,\n    nivel_alerta: totalGeral > 10000 ? 'CRÍTICO ⚠️' : (totalGeral > 5000 ? 'ALTO' : 'NORMAL'),\n    metafora: totalGeral > 5000 ? '💧 Imagine um balde furado: quanto maior o furo, mais água (dinheiro) escapa sem você perceber.' : '✅ Vazamentos sob controle por enquanto.'\n  };\n} catch (e) {\n  return { sucesso: false, erro: 'Falha ao processar dados: ' + e.message };\n}"
            },
            "id": "tool-calcular",
            "name": "calcular_perda",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                760,
                540
            ]
        },
        {
            "parameters": {
                "name": "top_offenders",
                "description": "Identifica os convênios e exames com maior quantidade de problemas (ranking dos piores ofensores). Esta ferramenta NÃO requer parâmetros de entrada.",
                "code": "try {\n  const context = JSON.parse($input.item.json.context || '{}');\n  const divergencias = context.value_divergences || [];\n\n  const porConvenio = {};\n  const porExame = {};\n\n  for (const div of divergencias) {\n    const conv = div.convenio || 'Desconhecido';\n    if (!porConvenio[conv]) porConvenio[conv] = { count: 0, valor: 0 };\n    porConvenio[conv].count++;\n    porConvenio[conv].valor += Math.abs((div.valor_simus || 0) - (div.valor_convenio || 0));\n\n    const exam = div.exame || 'Desconhecido';\n    if (!porExame[exam]) porExame[exam] = { count: 0, valor: 0 };\n    porExame[exam].count++;\n    porExame[exam].valor += Math.abs((div.valor_simus || 0) - (div.valor_convenio || 0));\n  }\n\n  const formatBRL = (v) => `R$ ${v.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`;\n\n  const topConvenios = Object.entries(porConvenio)\n    .map(([nome, data]) => ({ nome, divergencias: data.count, perda: formatBRL(data.valor) }))\n    .sort((a, b) => b.divergencias - a.divergencias)\n    .slice(0, 5);\n\n  const topExames = Object.entries(porExame)\n    .map(([nome, data]) => ({ nome, divergencias: data.count, perda: formatBRL(data.valor) }))\n    .sort((a, b) => b.divergencias - a.divergencias)\n    .slice(0, 5);\n\n  const piorConvenio = topConvenios[0];\n\n  return {\n    sucesso: true,\n    top_convenios: topConvenios,\n    top_exames: topExames,\n    insight: piorConvenio ? `🎯 O convênio ${piorConvenio.nome} lidera o ranking negativo com ${piorConvenio.divergencias} divergências.` : 'Nenhuma divergência encontrada.',\n    acao_sugerida: piorConvenio ? `Agende uma reunião com o setor de auditoria do ${piorConvenio.nome} para revisar a tabela de preços.` : 'Manter monitoramento.'\n  };\n} catch (e) {\n  return { sucesso: false, erro: e.message };\n}"
            },
            "id": "tool-top",
            "name": "top_offenders",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                900,
                540
            ]
        },
        {
            "parameters": {
                "name": "analisar_tendencia",
                "description": "Analisa se os problemas estão aumentando ou diminuindo ao longo do tempo. Esta ferramenta NÃO requer parâmetros de entrada.",
                "code": "try {\n  const context = JSON.parse($input.item.json.context || '{}');\n  const divergencias = context.value_divergences || [];\n\n  const hoje = new Date();\n  const semanaAtual = divergencias.filter(d => {\n    const dataDiv = new Date(d.data || hoje);\n    return (hoje - dataDiv) / (1000 * 60 * 60 * 24) <= 7;\n  }).length;\n\n  const semanaAnterior = divergencias.filter(d => {\n    const dataDiv = new Date(d.data || hoje);\n    const diff = (hoje - dataDiv) / (1000 * 60 * 60 * 24);\n    return diff > 7 && diff <= 14;\n  }).length;\n\n  let tendencia, emoji, recomendacao;\n  const variacao = semanaAnterior > 0 ? ((semanaAtual - semanaAnterior) / semanaAnterior * 100) : 0;\n\n  if (semanaAtual > semanaAnterior * 1.2) {\n    tendencia = 'PIORANDO';\n    emoji = '📈⚠️';\n    recomendacao = '🚨 Ação urgente! Investigue a causa raiz imediatamente.';\n  } else if (semanaAtual < semanaAnterior * 0.8) {\n    tendencia = 'MELHORANDO';\n    emoji = '📉✅';\n    recomendacao = '👏 Excelente! Continue com as ações atuais.';\n  } else {\n    tendencia = 'ESTÁVEL';\n    emoji = '➡️';\n    recomendacao = '👀 Monitore normalmente.';\n  }\n\n  return {\n    sucesso: true,\n    tendencia: tendencia,\n    emoji: emoji,\n    ultimos_7_dias: semanaAtual,\n    semana_anterior: semanaAnterior,\n    variacao_percentual: `${variacao.toFixed(1)}%`,\n    recomendacao: recomendacao,\n    metafora: tendencia === 'PIORANDO' ? '🔥 Imagine um incêndio pequeno que está crescendo. Melhor apagar agora antes de virar um incêndio florestal!' : ''\n  };\n} catch (e) {\n  return { sucesso: false, erro: e.message };\n}"
            },
            "id": "tool-tendencia",
            "name": "analisar_tendencia",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                1040,
                540
            ]
        },
        {
            "parameters": {
                "name": "interpretador_westgard",
                "description": "Valida resultados de Controle de Qualidade usando as regras de Westgard (1-2s, 1-3s, 2-2s, R-4s, 4-1s, 10x). Informe: value, target_value, target_sd como JSON.",
                "inputSchema": "{ \"type\": \"object\", \"properties\": { \"value\": { \"type\": \"number\", \"description\": \"Valor medido do resultado\" }, \"target_value\": { \"type\": \"number\", \"description\": \"Valor alvo (média esperada)\" }, \"target_sd\": { \"type\": \"number\", \"description\": \"Desvio padrão do controle\" } }, \"required\": [\"value\", \"target_value\", \"target_sd\"] }",
                "code": "// SKILL: O Oráculo - Validação rigorosa de entrada\ntry {\n  let input = $input.item.json.tool_input || $json.tool_input || '{}';\n  let data = typeof input === 'string' ? JSON.parse(input) : input;\n\n  const val = parseFloat(data.value);\n  const mean = parseFloat(data.target_value);\n  const sd = parseFloat(data.target_sd);\n\n  if (isNaN(val) || isNaN(mean) || isNaN(sd) || sd === 0) {\n    return {\n      sucesso: false,\n      erro: '❌ Dados inválidos. Forneça: { \"value\": X, \"target_value\": Y, \"target_sd\": Z }',\n      exemplo: '{ \"value\": 150, \"target_value\": 145, \"target_sd\": 3 }'\n    };\n  }\n\n  const z = (val - mean) / sd;\n  const violations = [];\n  let status = 'OK ✅';\n  let severity = 'none';\n  let corFundo = 'green';\n\n  // Regra 1-3s (Rejeição - Erro Aleatório)\n  if (Math.abs(z) > 3) {\n    violations.push({ regra: '1-3s', tipo: 'REJEIÇÃO', descricao: 'Valor excede 3 Desvios Padrão' });\n    status = 'REJEITADO ❌';\n    severity = 'critical';\n    corFundo = 'red';\n  }\n  // Regra 1-2s (Alerta)\n  else if (Math.abs(z) > 2) {\n    violations.push({ regra: '1-2s', tipo: 'ALERTA', descricao: 'Valor excede 2 Desvios Padrão' });\n    status = 'ALERTA ⚠️';\n    severity = 'warning';\n    corFundo = 'yellow';\n  }\n\n  const interpretacao = Math.abs(z) <= 1 ? 'Excelente: Dentro de 1 SD (zona verde)' :\n    (Math.abs(z) <= 2 ? 'Aceitável: Entre 1-2 SD (zona amarela)' : 'Fora de controle: Acima de 2 SD');\n\n  return {\n    sucesso: true,\n    dados_entrada: { valor_medido: val, media_esperada: mean, desvio_padrao: sd },\n    resultado: {\n      z_score: z.toFixed(3),\n      z_score_absoluto: Math.abs(z).toFixed(3),\n      status: status,\n      severity: severity,\n      cor_indicador: corFundo\n    },\n    violations: violations,\n    interpretacao: interpretacao,\n    recomendacao: violations.length > 0 ?\n      '🔧 Ações: 1) Verificar calibração do equipamento 2) Conferir lote de reagentes 3) Repetir o teste' :\n      '✅ Resultado dentro dos limites. Liberar análise normalmente.',\n    metafora: '🎯 Pense no z-score como uma flecha: quanto mais perto do centro do alvo (zero), melhor. Flechas que saem muito do centro (>2 SD) indicam problema na pontaria (equipamento).'\n  };\n} catch (e) {\n  return { sucesso: false, erro: 'Erro ao processar: ' + e.message };\n}"
            },
            "id": "tool-westgard",
            "name": "interpretador_westgard",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                760,
                680
            ]
        },
        {
            "parameters": {
                "name": "gerar_contestacao",
                "description": "Gera uma carta profissional e formal para contestar uma glosa de convênio. Opcionalmente informe: convenio, exame, valor_cobrado, valor_pago, motivo, paciente.",
                "inputSchema": "{ \"type\": \"object\", \"properties\": { \"convenio\": { \"type\": \"string\", \"description\": \"Nome do convênio\" }, \"exame\": { \"type\": \"string\", \"description\": \"Nome do exame\" }, \"valor_cobrado\": { \"type\": \"number\", \"description\": \"Valor que foi cobrado\" }, \"valor_pago\": { \"type\": \"number\", \"description\": \"Valor que foi pago\" }, \"motivo\": { \"type\": \"string\", \"description\": \"Motivo da glosa\" }, \"paciente\": { \"type\": \"string\", \"description\": \"Nome do paciente\" } } }",
                "code": "try {\n  let input = $input.item.json.tool_input || $json.tool_input;\n  let data = {};\n  try { data = typeof input === 'string' ? JSON.parse(input) : input; } catch (e) { data = {}; }\n\n  const convenio = data.convenio || '[Nome do Convênio]';\n  const exame = data.exame || '[Nome do Exame]';\n  const valorCobrado = parseFloat(data.valor_cobrado || 0);\n  const valorPago = parseFloat(data.valor_pago || 0);\n  const diferenca = valorCobrado - valorPago;\n  const motivo = data.motivo || 'divergência de valores';\n  const paciente = data.paciente || '[Nome do Paciente]';\n  const dataHoje = new Date().toLocaleDateString('pt-BR');\n\n  const carta = `\n╔══════════════════════════════════════════════════════════════╗\n║           CARTA DE CONTESTAÇÃO DE GLOSA                       ║\n╚══════════════════════════════════════════════════════════════╝\n\nÀ ${convenio}\nSetor de Auditoria e Faturamento\n\nRef.: Contestação de Glosa - Procedimento ${exame}\nData: ${dataHoje}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPrezados Senhores,\n\nVimos, por meio desta, CONTESTAR FORMALMENTE a glosa aplicada ao procedimento abaixo:\n\n┌─────────────────────────────────────────────────────────────┐\n│ 📋 DADOS DO PROCEDIMENTO                                     │\n├─────────────────────────────────────────────────────────────┤\n│ Paciente:        ${paciente.padEnd(40)}│\n│ Procedimento:    ${exame.padEnd(40)}│\n│ Valor Cobrado:   R$ ${valorCobrado.toLocaleString('pt-BR', {minimumFractionDigits: 2}).padEnd(37)}│\n│ Valor Pago:      R$ ${valorPago.toLocaleString('pt-BR', {minimumFractionDigits: 2}).padEnd(37)}│\n│ Diferença:       R$ ${diferenca.toLocaleString('pt-BR', {minimumFractionDigits: 2}).padEnd(37)}│\n│ Motivo Alegado:  ${motivo.substring(0, 40).padEnd(40)}│\n└─────────────────────────────────────────────────────────────┘\n\n📌 FUNDAMENTAÇÃO:\n\n1. O procedimento foi realizado em conformidade com as normas técnicas\n   vigentes e o contrato estabelecido entre as partes.\n\n2. A cobrança está de acordo com a tabela de preços pactuada,\n   conforme anexo contratual de [inserir data do contrato].\n\n3. Toda documentação comprobatória encontra-se disponível para\n   verificação (requisição médica, resultado do exame, nota fiscal).\n\n4. Não houve duplicidade de cobrança ou erro de digitação.\n\n📎 DOCUMENTOS ANEXOS:\n   ☐ Cópia da requisição médica\n   ☐ Laudo do exame\n   ☐ Tabela de preços contratada\n   ☐ Nota fiscal correspondente\n\n🎯 SOLICITAÇÃO:\nSolicitamos a REVISÃO da glosa e o PAGAMENTO da diferença de\nR$ ${diferenca.toLocaleString('pt-BR', {minimumFractionDigits: 2})} no prazo legal de 30 dias.\n\nAguardamos manifestação.\n\nAtenciosamente,\n\n_________________________________\nLaboratório Biodiagnóstico\nSetor de Faturamento\nTelefone: (XX) XXXX-XXXX\nEmail: faturamento@biodiagnostico.com.br\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n`;\n\n  return {\n    sucesso: true,\n    carta_contestacao: carta,\n    resumo: {\n      convenio: convenio,\n      exame: exame,\n      diferenca: `R$ ${diferenca.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`\n    },\n    proximos_passos: [\n      '1. Revise e personalize os campos entre colchetes [ ]',\n      '2. Anexe os documentos listados',\n      '3. Protocole junto ao convênio (guarde o número de protocolo!)',\n      '4. Acompanhe a resposta em até 30 dias',\n      '5. Se necessário, escale para recurso de 2ª instância'\n    ]\n  };\n} catch (e) {\n  return { sucesso: false, erro: e.message };\n}"
            },
            "id": "tool-contestacao",
            "name": "gerar_contestacao",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                900,
                680
            ]
        },
        {
            "parameters": {
                "name": "projecao_perda",
                "description": "Projeta a perda financeira estimada até o fim do mês baseado na tendência atual. Esta ferramenta NÃO requer parâmetros de entrada.",
                "code": "try {\n  const context = JSON.parse($input.item.json.context || '{}');\n  const divergencias = context.value_divergences || [];\n\n  let perdaAtual = 0;\n  for (const div of divergencias) {\n    perdaAtual += Math.abs((div.valor_simus || 0) - (div.valor_convenio || 0));\n  }\n\n  const hoje = new Date();\n  const diaAtual = hoje.getDate();\n  const diasNoMes = new Date(hoje.getFullYear(), hoje.getMonth() + 1, 0).getDate();\n  const diasRestantes = diasNoMes - diaAtual;\n\n  const mediaDiaria = diaAtual > 0 ? perdaAtual / diaAtual : 0;\n  const projecaoMensal = mediaDiaria * diasNoMes;\n  const perdaAdicional = mediaDiaria * diasRestantes;\n\n  const formatBRL = (v) => `R$ ${v.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`;\n\n  let nivelAlerta, acaoRecomendada;\n  if (projecaoMensal > 20000) {\n    nivelAlerta = '🔴 CRÍTICO';\n    acaoRecomendada = '🚨 EMERGÊNCIA: Convoque reunião de crise com toda a equipe de faturamento.';\n  } else if (projecaoMensal > 10000) {\n    nivelAlerta = '🟠 ALTO';\n    acaoRecomendada = '⚠️ URGENTE: Priorize a resolução das maiores divergências.';\n  } else {\n    nivelAlerta = '🟢 NORMAL';\n    acaoRecomendada = '✅ Continuar rotina de monitoramento.';\n  }\n\n  return {\n    sucesso: true,\n    situacao_atual: {\n      perda_acumulada: formatBRL(perdaAtual),\n      dia_do_mes: `${diaAtual}/${diasNoMes}`,\n      media_diaria: formatBRL(mediaDiaria)\n    },\n    projecao: {\n      dias_restantes: diasRestantes,\n      perda_adicional_projetada: formatBRL(perdaAdicional),\n      total_projetado_fim_mes: formatBRL(projecaoMensal)\n    },\n    nivel_alerta: nivelAlerta,\n    acao_recomendada: acaoRecomendada,\n    metafora: '📈 Projeção é como olhar o velocímetro do carro: se você está a 120km/h numa estrada de 60km/h, já sabe que vai chegar ao destino (prejuízo) muito rápido.'\n  };\n} catch (e) {\n  return { sucesso: false, erro: e.message };\n}"
            },
            "id": "tool-projecao",
            "name": "projecao_perda",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                1040,
                680
            ]
        },
        {
            "parameters": {
                "name": "resumo_executivo",
                "description": "Gera um resumo executivo diário completo para o gestor com KPIs principais, alertas críticos, pendências e ações recomendadas. Esta ferramenta NÃO requer parâmetros de entrada.",
                "code": "try {\n  const context = JSON.parse($input.item.json.context || '{}');\n  const divergencias = context.value_divergences || [];\n  const pacientesAusentes = context.missing_patients || [];\n  const examesFaltantes = context.missing_exams || [];\n\n  let totalPerda = 0;\n  const porConvenio = {};\n\n  for (const div of divergencias) {\n    const perda = Math.abs((div.valor_simus || 0) - (div.valor_convenio || 0));\n    totalPerda += perda;\n    const conv = div.convenio || 'Desconhecido';\n    porConvenio[conv] = (porConvenio[conv] || 0) + 1;\n  }\n\n  for (const p of pacientesAusentes) { totalPerda += (p.valor_total || 0); }\n\n  const piorConvenio = Object.entries(porConvenio).sort((a, b) => b[1] - a[1])[0];\n  const formatBRL = (v) => `R$ ${v.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`;\n  const dataHoje = new Date().toLocaleDateString('pt-BR', { weekday: 'long', day: '2-digit', month: 'long' });\n\n  let nivelAlerta = 'NORMAL';\n  let corAlerta = '🟢';\n  if (totalPerda > 10000) { nivelAlerta = 'CRÍTICO'; corAlerta = '🔴'; }\n  else if (totalPerda > 5000) { nivelAlerta = 'ALTO'; corAlerta = '🟠'; }\n\n  const resumo = `\n╔════════════════════════════════════════════════════════════════╗\n║  📊 RESUMO EXECUTIVO - ${dataHoje.toUpperCase().substring(0, 30).padEnd(30)}   ║\n╚════════════════════════════════════════════════════════════════╝\n\n${corAlerta} STATUS GERAL: ${nivelAlerta}\n\n┌──────────────────────────────────────────────────────────────┐\n│  💰 IMPACTO FINANCEIRO                                        │\n├──────────────────────────────────────────────────────────────┤\n│  Perda Total Acumulada:   ${formatBRL(totalPerda).padEnd(33)}│\n└──────────────────────────────────────────────────────────────┘\n\n┌──────────────────────────────────────────────────────────────┐\n│  📈 VOLUME DE PENDÊNCIAS                                      │\n├──────────────────────────────────────────────────────────────┤\n│  Divergências de Valor:   ${String(divergencias.length).padEnd(33)}│\n│  Pacientes Ausentes:      ${String(pacientesAusentes.length).padEnd(33)}│\n│  Exames Faltantes:        ${String(examesFaltantes.length).padEnd(33)}│\n│  ─────────────────────────────────────────────────────────── │\n│  TOTAL DE PENDÊNCIAS:     ${String(divergencias.length + pacientesAusentes.length + examesFaltantes.length).padEnd(33)}│\n└──────────────────────────────────────────────────────────────┘\n\n┌──────────────────────────────────────────────────────────────┐\n│  ⚠️ MAIOR OFENSOR                                             │\n├──────────────────────────────────────────────────────────────┤\n│  ${piorConvenio ? `${piorConvenio[0]} (${piorConvenio[1]} ocorrências)`.padEnd(60) : 'Nenhum identificado'.padEnd(60)}│\n└──────────────────────────────────────────────────────────────┘\n\n🎯 AÇÕES RECOMENDADAS PARA HOJE:\n\n  1. ${totalPerda > 5000 ? '🔴 URGENTE: Revisar divergências de alto valor' : '✅ Manter rotina de monitoramento'}\n\n  2. ${piorConvenio ? `📞 Contatar auditoria do ${piorConvenio[0]}` : '📋 Nenhuma ação específica'}\n\n  3. ${pacientesAusentes.length > 5 ? '🔍 Investigar falhas na integração de sistemas' : '👀 Continuar processos normais'}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  Gerado pelo Detetive de Dados 🕵️ às ${new Date().toLocaleTimeString('pt-BR')}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n`;\n\n  return {\n    sucesso: true,\n    resumo_formatado: resumo,\n    kpis: {\n      perda_total: formatBRL(totalPerda),\n      total_pendencias: divergencias.length + pacientesAusentes.length + examesFaltantes.length,\n      pior_convenio: piorConvenio ? piorConvenio[0] : 'N/A'\n    },\n    nivel_alerta: nivelAlerta\n  };\n} catch (e) {\n  return { sucesso: false, erro: e.message };\n}"
            },
            "id": "tool-resumo",
            "name": "resumo_executivo",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                760,
                820
            ]
        },
        {
            "parameters": {
                "name": "detectar_anomalias",
                "description": "Identifica valores ou padrões anômalos nos dados, como picos de divergência, valores muito altos ou muito baixos fora do esperado. Esta ferramenta NÃO requer parâmetros de entrada.",
                "code": "try {\n  const context = JSON.parse($input.item.json.context || '{}');\n  const divergencias = context.value_divergences || [];\n\n  if (divergencias.length === 0) {\n    return { sucesso: true, mensagem: 'Nenhum dado para analisar.', anomalias: [] };\n  }\n\n  // Calcular média e desvio padrão das diferenças\n  const diferencas = divergencias.map(d => Math.abs((d.valor_simus || 0) - (d.valor_convenio || 0)));\n  const media = diferencas.reduce((a, b) => a + b, 0) / diferencas.length;\n  const variancia = diferencas.reduce((a, b) => a + Math.pow(b - media, 2), 0) / diferencas.length;\n  const desvio = Math.sqrt(variancia);\n\n  // Identificar outliers (> 2 desvios padrão)\n  const anomalias = [];\n  for (let i = 0; i < divergencias.length; i++) {\n    const diff = diferencas[i];\n    const zScore = desvio > 0 ? (diff - media) / desvio : 0;\n    if (Math.abs(zScore) > 2) {\n      anomalias.push({\n        indice: i,\n        paciente: divergencias[i].paciente || 'N/A',\n        exame: divergencias[i].exame || 'N/A',\n        convenio: divergencias[i].convenio || 'N/A',\n        diferenca: `R$ ${diff.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`,\n        z_score: zScore.toFixed(2),\n        classificacao: zScore > 3 ? '🔴 EXTREMA' : '🟠 ALTA'\n      });\n    }\n  }\n\n  const formatBRL = (v) => `R$ ${v.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`;\n\n  return {\n    sucesso: true,\n    estatisticas: {\n      media_diferenca: formatBRL(media),\n      desvio_padrao: formatBRL(desvio),\n      total_analisado: divergencias.length\n    },\n    anomalias_detectadas: anomalias.length,\n    anomalias: anomalias.slice(0, 10),\n    insight: anomalias.length > 0 ? `⚠️ ${anomalias.length} valor(es) fora do padrão detectado(s). Investigue prioritariamente.` : '✅ Nenhuma anomalia significativa detectada.',\n    metafora: '🎢 Pense nas anomalias como montanhas-russas num parque de diversões plano: chamam atenção justamente por serem diferentes do resto.'\n  };\n} catch (e) {\n  return { sucesso: false, erro: e.message };\n}"
            },
            "id": "tool-anomalias",
            "name": "detectar_anomalias",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                900,
                820
            ]
        },
        {
            "parameters": {
                "name": "comparar_tabelas",
                "description": "Compara valores entre a tabela do laboratório e as tabelas dos convênios para identificar defasagens de preço. Informe: exame (nome do exame a comparar).",
                "inputSchema": "{ \"type\": \"object\", \"properties\": { \"exame\": { \"type\": \"string\", \"description\": \"Nome do exame a comparar\" } } }",
                "code": "try {\n  let input = $input.item.json.tool_input || $json.tool_input || '{}';\n  let data = {};\n  try { data = typeof input === 'string' ? JSON.parse(input) : input; } catch (e) { data = {}; }\n\n  const exameConsultado = (data.exame || 'HEMOGRAMA').toUpperCase();\n\n  // Tabela simulada (em produção seria do Supabase)\n  const tabelaLab = {\n    'HEMOGRAMA': 35.00, 'GLICOSE': 12.50, 'COLESTEROL TOTAL': 18.00, 'TSH': 45.00, 'T4 LIVRE': 42.00, 'CREATININA': 15.00, 'UREIA': 12.00, 'ACIDO URICO': 14.00\n  };\n\n  const tabelasConvenios = {\n    'UNIMED': { 'HEMOGRAMA': 32.00, 'GLICOSE': 10.00, 'COLESTEROL TOTAL': 15.00, 'TSH': 40.00, 'T4 LIVRE': 38.00, 'CREATININA': 13.00 },\n    'BRADESCO': { 'HEMOGRAMA': 30.00, 'GLICOSE': 11.00, 'COLESTEROL TOTAL': 16.50, 'TSH': 42.00, 'T4 LIVRE': 40.00, 'CREATININA': 14.00 },\n    'AMIL': { 'HEMOGRAMA': 28.00, 'GLICOSE': 9.50, 'COLESTEROL TOTAL': 14.00, 'TSH': 38.00, 'T4 LIVRE': 36.00, 'CREATININA': 12.00 },\n    'SULAMERICA': { 'HEMOGRAMA': 33.00, 'GLICOSE': 11.50, 'COLESTEROL TOTAL': 17.00, 'TSH': 43.00, 'T4 LIVRE': 41.00, 'CREATININA': 14.50 }\n  };\n\n  const valorLab = tabelaLab[exameConsultado] || 0;\n  const comparativo = [];\n\n  for (const [convenio, tabela] of Object.entries(tabelasConvenios)) {\n    const valorConv = tabela[exameConsultado] || 0;\n    if (valorConv > 0) {\n      const diferenca = valorLab - valorConv;\n      const percentual = valorLab > 0 ? ((diferenca / valorLab) * 100) : 0;\n      comparativo.push({\n        convenio: convenio,\n        valor_lab: `R$ ${valorLab.toFixed(2)}`,\n        valor_convenio: `R$ ${valorConv.toFixed(2)}`,\n        diferenca: `R$ ${diferenca.toFixed(2)}`,\n        percentual: `${percentual.toFixed(1)}%`,\n        status: diferenca > 5 ? '⚠️ DEFASADO' : (diferenca > 2 ? '🟡 ATENÇÃO' : '✅ OK')\n      });\n    }\n  }\n\n  // Ordenar do mais defasado para o menos\n  comparativo.sort((a, b) => parseFloat(b.diferenca.replace('R$ ', '')) - parseFloat(a.diferenca.replace('R$ ', '')));\n\n  return {\n    sucesso: true,\n    exame_consultado: exameConsultado,\n    valor_tabela_laboratorio: `R$ ${valorLab.toFixed(2)}`,\n    comparativo_convenios: comparativo,\n    convenio_mais_defasado: comparativo[0],\n    recomendacao: comparativo[0] && parseFloat(comparativo[0].diferenca.replace('R$ ', '')) > 5 ?\n      `📞 Priorizar renegociação de tabela com ${comparativo[0].convenio}` :\n      '✅ Tabelas dentro do esperado',\n    metafora: '💰 Tabelas defasadas são como cupons de desconto que você dá sem querer: o cliente (convênio) paga menos do que deveria.'\n  };\n} catch (e) {\n  return { sucesso: false, erro: e.message };\n}"
            },
            "id": "tool-comparar",
            "name": "comparar_tabelas",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                1040,
                820
            ]
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "detetive_session_biodiagnostico_v6"
            },
            "id": "memory-node",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                620,
                680
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, response: $json.output, agent_thinking: $json.intermediateSteps || [], tools_used: ($json.intermediateSteps || []).map(s => s.tool || 'unknown'), timestamp: new Date().toISOString() }) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-response",
            "name": "Resposta Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1000,
                320
            ]
        }
    ],
    "connections": {
        "Webhook Detetive": {
            "main": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent Detetive": {
            "main": [
                [
                    {
                        "node": "Resposta Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "calcular_perda": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "top_offenders": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "analisar_tendencia": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "interpretador_westgard": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "gerar_contestacao": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "projecao_perda": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "resumo_executivo": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "detectar_anomalias": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "comparar_tabelas": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}