n8n_workflows/detetive_dados_agent.json
{
    "name": "Detetive de Dados - Biodiagnóstico v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "detetive-dados",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook Detetive",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                320
            ],
            "webhookId": "detetive-dados-biodiagnostico"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "Você é o \"Detetive de Dados\", um assistente especializado em análise de faturamento de laboratórios clínicos e controle de qualidade (QC).\n\n### PROCESSO DE PENSAMENTO (Chain-of-Thought):\nAntes de responder ao usuário, você deve SEMPRE estruturar seu raciocínio internamente:\n1. Identifique os dados de contexto disponíveis.\n2. Escolha a ferramenta (tool) adequada para investigar o problema.\n3. Identifique padrões (ex: glosas recorrentes de um mesmo convênio).\n\n### DIRETRIZES:\n1. Responda em Português Brasileiro.\n2. Use emojis: 📊 (dados), 🔍 (análise), ⚠️ (alerta), 💡 (sugestão), 🧬 (qualidade).\n3. Formate valores como R$ X.XXX,XX.\n4. Quando analisar divergências, sugira uma ação corretiva.\n\nDados de contexto:\n{{ $json.body.context }}"
                }
            },
            "id": "ai-agent",
            "name": "AI Agent Detetive",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                660,
                320
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash",
                "options": {
                    "temperature": 0.3,
                    "maxOutputTokens": 2048
                }
            },
            "id": "gemini-chat",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                520,
                520
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "CONFIGURE_CREDENTIAL",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "name": "analisar_divergencias",
                "description": "Analisa divergências de valores e exames faltantes nos dados de contexto.",
                "workflowId": "={{ $workflow.id }}",
                "responsePropertyName": "analysis_result"
            },
            "id": "tool-analisar",
            "name": "analisar_divergencias",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2,
            "position": [
                660,
                520
            ]
        },
        {
            "parameters": {
                "name": "calcular_perda",
                "description": "Calcula o total de perda financeira baseado nas divergências.",
                "code": "const context = JSON.parse($input.item.json.context || '{}');\nconst divergencias = context.value_divergences || [];\nlet total = 0;\nfor (const d of divergencias) total += ((d.valor_simus || 0) - (d.valor_convenio || 0));\nreturn { total_perda: total, total_formatado: `R$ ${total.toLocaleString('pt-BR')}` };"
            },
            "id": "tool-calcular",
            "name": "calcular_perda",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                780,
                520
            ]
        },
        {
            "parameters": {
                "name": "buscar_historico",
                "description": "Busca histórico de um paciente no banco de dados.",
                "method": "POST",
                "url": "={{ $json.body.supabase_url }}/rest/v1/rpc/buscar_historico_paciente",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "paciente_nome",
                            "value": "={{ $json.tool_input }}"
                        }
                    ]
                }
            },
            "id": "tool-historico",
            "name": "buscar_historico",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                900,
                520
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CONFIGURE_CREDENTIAL",
                    "name": "Supabase API"
                }
            }
        },
        {
            "parameters": {
                "name": "top_offenders",
                "description": "Identifica os convênios ou exames com mais divergências.",
                "code": "const context = JSON.parse($input.item.json.context || '{}');\nconst div = context.value_divergences || [];\nconst counts = {};\nfor (const d of div) counts[d.convenio] = (counts[d.convenio] || 0) + 1;\nreturn { top_convenios: Object.entries(counts).sort((a,b) => b[1]-a[1]).slice(0,5) };"
            },
            "id": "tool-top-offenders",
            "name": "top_offenders",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                1020,
                520
            ]
        },
        {
            "parameters": {
                "name": "interpretador_westgard",
                "description": "Valida resultados QC com regras de Westgard. Requer: value, target_value, target_sd.",
                "code": "const i = $json.tool_input; let d = typeof i === 'string' ? JSON.parse(i) : i;\nconst z = (d.value - d.target_value) / d.target_sd;\nreturn { z_score: z.toFixed(2), status: Math.abs(z) > 3 ? 'REJEITADO (1-3s)' : (Math.abs(z) > 2 ? 'ALERTA (1-2s)' : 'OK') };"
            },
            "id": "tool-westgard",
            "name": "interpretador_westgard",
            "type": "@n8n/n8n-nodes-langchain.toolCode",
            "typeVersion": 1,
            "position": [
                1140,
                520
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, response: $json.output, agent_thinking: $json.intermediateSteps || [] }) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-response",
            "name": "Resposta Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1060,
                320
            ]
        },
        {
            "parameters": {
                "windowSize": 10
            },
            "id": "memory-buffer",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                520,
                660
            ]
        }
    ],
    "connections": {
        "Webhook Detetive": {
            "main": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent Detetive": {
            "main": [
                [
                    {
                        "node": "Resposta Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "analisar_divergencias": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "calcular_perda": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "buscar_historico": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "top_offenders": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "interpretador_westgard": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent Detetive",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "Biodiagnóstico",
            "createdAt": "2026-01-22T04:00:00.000Z",
            "updatedAt": "2026-01-22T04:00:00.000Z"
        },
        {
            "name": "AI Agent",
            "createdAt": "2026-01-22T04:00:00.000Z",
            "updatedAt": "2026-01-22T04:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-01-22T04:00:00.000Z",
    "versionId": "1"
}